body{
	width:100%;
	font-family:helvetica;
	font-size:16px;
	padding:0px;
	margin:0px;
  background-color: lightgrey;
}

p{
	color: white;
	margin-bottom: 0px;
}

h2{
	font-size: 20px;
	margin-top: 5px;
	margin-bottom: 5px;
}

.navbar{
	margin-top: 0px;
	margin-bottom: 10px;
	margin-left: -20px;
	margin-right: -20px;
	background-color: firebrick;
	border-radius: 0px;
}

.navbar-brand.brand_fix, .navbar-brand.brand_fix:hover{
	color: white;
}

.navbar-default .navbar-nav > li > a:hover {
    color: #333;
    background-color: transparent;
}
.navbar-default .navbar-nav > li > a {
    color: darkgray;
}

.frame{
	padding: 5px;
	background-color: white;
	background-clip:content-box;
}

.frame_full{
	padding: 5px;
	background-color: white;
}

.carousel{
	max-height: 400px;
	margin-bottom: 20px;
	overflow: hidden;
}

.carousel-inner .item img {
    position:relative;
    top:50%;
    transform: translateY(-15%);
}

.carousel-indicators {
    bottom: 0%;
}

.background{
background-color: GhostWhite ;
}

li:hover{
  background-color: #f1f1f1
}

.container{
	max-width: 1000px;
}

.top-space{
	margin-top: 20px;
}

.bottom-space{
	margin-bottom: 20px;
}

.side-padding{
	padding-left: 5px;
	padding-right: 5px;
}

#p5Canvas{
  background-color: white;
  width: 100%;
  height: auto;
}

.footer.navbar{
	margin-bottom: 0;
}

p1.col-xs-4, p1.col-xs-8{
	padding: 15px;
}
